<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE FOREST WIKI</title>
  <link rel="stylesheet" href="stules.css">
</head>
<header>
    <div class="container">
        <p class="logo">THE FOREST WIKI</p>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">FORO</a>
            <a href="#">DIRECCION</a>
    <a href="#">REGISTRATE</a>
    <a href="#">INICIAR SESION</a>
    <a href="#">MI CUENTA</a>
    <a href="#">ADMIN</a>

        </nav>
    </div>

</header>
<body>
  <div class="container">
    <div class="image">
      <img src="../imagenes/inicio.jpg" alt="Imagen">
    </div>
    <div class="login-form">
      <h2>bienvenido ingresa tu usuario</h2>
      <form action="procesar_login.php" method="post">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <input type="submit" value="Iniciar sesión">
      </form>
    </div>
  </div>
</body>
</html>
