header{
    background-color: rgba(255, 255, 255,);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255, 255, 7);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    display: inline-block;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}
header a:hover {
    color: brown;
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .image {
    flex: 1;
  }
  
  .login-form {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .login-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  